td.actions { 
	width: 40px;
	text-align: center;
}

td.type { 
	width: 20px;
	text-align: center;
}

td.name { 
	width: 100px;
        text-align: left;
}

td.birthday { 
	width: 50px;
        text-align: left;
}

td.email { 
	width: 100px;
        text-align: left;
}


td.line-business { 
	width: 20px;
	text-align: center;
}