td.type { 
	width: 20px;
	text-align: center;
}

td.person {
	width: 200px;
}

td.description {
}

td.ammount { 
	width: 100px;
	text-align: center;
}

td.dueDate { 
	width: 100px;
	text-align: center;
}

td.payment { 
	width: 100px;
	text-align: center;
}

td.status { 
	width: 80px;
	text-align: center;
}

td.actions { 
	width: 40px;
	text-align: center;
}

.grid .income {
	color: #0000ff;
}

.grid .expense {
	color: #c23030;
}